body {
  font-family: sans-serif;
  background-image: linear-gradient(to left top, #212121, #ededed);
}
h2 {
  text-align: center;
}
table {
  margin: 0 auto;
  line-height: 150%;
}
td {
  color: rgba(0,0,0, 0.75);
}
